.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 100px;
    background-color: var(--toolbar-color);
}

.ToolbarLink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
}

.BlogDropdown {
    display: flex;
    background-color: var(--dropdown-bg-color);
    flex-direction: column;
    gap: 10px;
}